<p id="notice"><%= notice %></p>

<h1>Registros de Jornada</h1>

<table class="table table-striped table-hover table-dark">
  <thead>
    <tr>
      <th><%= I18n.t("Appointments") %></th>
      <th><%= I18n.t("Type") %></th>
      <th><%= I18n.t("User") %></th>
      <th colspan="3"> <%= I18n.t("Action") %></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr >
        <td><%= format_date(appointment.appointments) %></td>
        <td><%= appointment.type.name %></td>
        <td><%= appointment.user.name %></td>
        <td><%= link_to 'Show', appointment, class: "table-td-link" %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment),class: "table-td-link" %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, class: "table-td-link", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t("New_Appointment"), new_appointment_path, class: 'btn btn-info' %>
