<p id="notice"><%= notice %></p>

<h1>Registros de Jornada</h1>

<table class="table table-striped table-hover table-dark">
  <thead>
    <tr>
      <th><%= @appointments.human_attribute_name(:appointments) %></th>
      <th><%= @appointments.human_attribute_name(:type) %></th>
      <th><%= @appointments.human_attribute_name(:user) %></th>
      <th colspan="3" class="text-center"> <%= @appointments.human_attribute_name(:action) %></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr >
        <td><%= l(appointment.appointments) %></td>
        <td><%= appointment.type.name %></td>
        <td><%= appointment.user.name %></td>
        <td class="text-center"><%= link_to '', appointment, class: 'fa fa-eye' %></td>
        <td class="text-center"><%= link_to '', edit_appointment_path(appointment), class: 'fa fa-edit' %></td>
        <td class="text-center"><%= link_to '', appointment, method: :delete, class: 'fa fa-trash', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to @appointments.human_attribute_name(:new_Appointment), new_appointment_path, class: 'btn btn-info' %>
