<div class="panel panel-primary">
  <div class="panel-body">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Appointments:</strong>
      <%= l(@appointment.appointments) %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @appointment.type.name %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @appointment.user.name %>
    </p>
  </div>
  <div class="panel-footer">


    <div class="actions" style="text-align: right;">
      <%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-info' %>
      <%= link_to 'Back', appointments_path, class: 'btn btn-warning' %>
    </div>
  </div>
</div>